name: nodejs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: "Use Node.js 22.x"
        uses: actions/setup-node@v4.1.0
        with:
          node-version: "22.x"
      - run: npm ci
      - run: npm run build-prod
      - run: npm test
